/* css reset */

body, html {
    padding: 0;
    margin: 0;
}

/*==================Global variables========================== */

h2 {
    color: #E4326D;
}

p {
    color: #57000D;
}

img {
    border: 2px solid #E4326D;
}

label {
    color: #57000D;
}

@font-face {
    font-family: 'Lighthouse';
    src: url('Lighthouse.ttf');
    
}

/*div {
    border: 1px solid black;
}*/






/* ==================HEADER AND FOOTER STYLING===============*/


#header, #footer {
    width: 100%;
    background-color:#6E0000;
    height: 100px;
}

#header p {
	margin-top:0px;
	position:relative;

}

#footer {
    position:relative;
    bottom:0;
    z-index: 999999;
}

#footer p {
    color: white;
}

.logo{
    color: white;
    font-family: 'Lighthouse';
    font-size: 35px;
    top: 20px;
 }   

/* ================END OF HEADER AND FOOTER STYLING===================== */



/* ==========NAVIGATION STYLING================ */

#header ul li{
    list-style-type:none;
    display:inline;
    padding: 6px;
    width: 80px;
    position: relative;
    font-size:100%;
    float: right;
}

#header  ul{
    display:inline;
}

#header ul li a:link {
    text-decoration: none;
    color: #00FF48;
}

#header ul li a:visited {
    color: #00FF48;
}


/* =================END OF NAVIGATION STYLING================*/




/* ===============CONTAINER STYLING================= */

.empty{
    height: 100px;
}

body{
    background-color: white;
}

.text-2 {
    float: right;
    list-style-type: none;
}

.sisterlocks {
    float: right;
    height: 300px;
    width: 300px;
}


.sisterlocks3 {
    float: left;
    height: 300px;
    width: 300px;
}

.sisterlocks2 {
    float: right;
    height: 300px;
    width: 300px;
}

.contactform{
    position: relative;
    margin: 0 auto;
    

}

.button{
    position: relative;
    border: none;
    top:20px;
    left: 200px;
    background: #FF520D;
    width: 150px;
}

 .singleobject{
    position: relative;
    top: 20px;
    height: 290px;
    
   
}

.contact-text {
    position:relative;
    top: 20px;
    height:425px;
}

.photos li {
    list-style-type: none;
    display: none;
   
}

.photos-2006 {
    height: 460px;
}

#button-2006 {
    background-color: blue;
    border: none;
    height: 30px;

}





/* ==========END OF CONTAINER STYLING================ */

