/* css reset */

body, html {
    padding: 0;
    margin: 0;
}


/* ==================HEADER AND FOOTER STYLING===============*/

#header, #footer {
    width: 100%;
    background-color:#FF1923;
    height: 100px;
}

#header p {
    margin-top:0px;
    position:relative;

}

/* ================END OF HEADER AND FOOTER STYLING===================== */



/* ==========NAVIGATION STYLING================ */

#header #nav ul li{
    list-style-type:none;
    display:inline;
    padding: 15px;
    position: relative;
    font-family: Arial;
    font-size:100%;
    top: 40px;
    left: 280px;
}

#header #nav ul{
    display:inline;
}

#header #nav ul li a:link {
    text-decoration: none;
    color: black;
}

#header #nav ul li a:visited {
    color: black;
}

#header #nav ul li a:hover {
    background-color: yellow;
}

/* =================END OF NAVIGATION STYLING================*/




/* ===============CONTAINER STYLING================= */


.slideshow {
    border: 1px solid black;
    height: 300px;
}

body{
    background-color: #FFD6C7;
}


/* ==========END OF CONTAINER STYLING================ */

